@function filter-image($amount) {
  @return ($amount);
}

.images-container {
  background-color: red($color: #000000);
  display: grid;
  grid-template-columns: repeat(2, 200px);
  grid-template-rows: repeat(2, 200px);

  img {
    width: 200px;
    height: 200px;
    // &:hover {
    //   opacity: filter-image(0.4);
    // }
  }
}

// @media screen and (max-width: 600px) {
//   @import "images-mobile";
// }

$i: 1;
@while $i <= 9 {
  .item-#{$i} {
    opacity: filter-image($i/10) !important;
  }
  $i: $i + 1;
}

// $font-weight: normal, bold, italic;

// @each $font in ($font-weight) {
//   .#{$font} {font-weight: $font}
// }

// @for $i from 1 to 5 {
//   .class-#{$i} {
//     &:before{
//       content: "#{$i}";
//     }
//   }
// }
